<script>
    window.logo = "<%= image_url('logo.png') %>"
    window.notePen = "<%= image_url('note_pen.png') %>"
    window.note = "<%= image_url('note.png') %>"
    window.notebook = "<%= image_url('notebook.png') %>"
    window.logoutimg = "<%= image_url('logout_img.png') %>"
    window.splash = "<%= image_url('splash_img.png') %>"
</script>

<div id="root">
    React is not working!!!
</div>