<!DOCTYPE html>
<html>
  <head>
    <title>MasaNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <meta property="og:title" content="MasaNote" />
    <meta property="og:image" name="image" content="<%= image_url('home_page.png') %>" />
    <meta property="og:ulr" content="https://masanote.herokuapp.com/#/" />
    <meta property="og:description" content="MasaNote is a single-page note-taking app that features a rich-text editor, image uploading, autosaving, organization with notebooks. MasaNote is an Evernote clone, a popular note taking web app." />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user  %>
      <script>
        window.currentUser = {
          "id": "<%= current_user.id %>",
          "username": "<%= current_user.username %>"
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
